# Handling Imbalanced Dataset

### Upsampling  -- increasing data sets 
### Downsampling  -- decreasing data sets

In [4]:
import numpy as np 
import pandas as pd

## Set the random seed for reproduciblity 
np.random.seed(123)

## Creates a dataframe with two classes 
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int (n_samples * class_0_ratio)
n_class_1=n_samples - n_class_0

In [5]:
n_class_0, n_class_1

(900, 100)

In [11]:
### CREATING DATAFRAME WITH IMBALANCED DATASET 
class_0 = pd.DataFrame({
    'feature_1' : np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature_2' : np.random.normal(loc=0,scale=1,size=n_class_0),
    'target':[0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1' : np.random.normal(loc=2,scale=1,size=n_class_1),
    'feature_2' : np.random.normal(loc=2,scale=1,size=n_class_1),
    'target':[1]*n_class_1
})

In [17]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)
df.tail()

     feature_1  feature_2  target
995   2.677156   1.092048       1
996   2.963404   0.181955       1
997   1.621476   1.877267       1
998   3.429559   3.794486       1
999   3.532273   1.679490       1

In [19]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [23]:
### upsampling creates artificial points in the  dataset
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [29]:
from sklearn.utils import resample
df_minority_upsampled=resample(df_minority,replace=True,## sample with replacement 
         n_samples=len(df_majority),
         random_state=42
)

In [30]:
df_minority_upsampled.shape

(900, 3)

In [38]:
df_minority_upsampled.head()
df_upsampled = pd.concat([df_majority,df_minority_upsampled]).head(500)

In [40]:
df_upsampled

     feature_1  feature_2  target
0    -1.774224   0.285744       0
1    -1.201377   0.333279       0
2     1.096257   0.531807       0
3     0.861037  -0.354766       0
4    -1.520367  -1.120815       0
..         ...        ...     ...
495   0.905453   0.605590       0
496  -1.375441  -0.199009       0
497  -1.689791  -0.329098       0
498  -0.635882   0.335357       0
499   1.667026   0.486452       0

[500 rows x 3 columns]

In [42]:
### downsampling 
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [45]:
df_majority_downsampled=resample(df_majority,replace=False, # sample with replacement 
        n_samples=len(df_minority),
        random_state=42)

In [47]:
df_majority_downsampled.shape

(100, 3)

In [54]:
df_downsampled=pd.concat([df_majority_downsampled,df_minority])
df_downsampled.target.value_counts()
## downsampling is bad as we are degrading the data points

target
0    100
1    100
Name: count, dtype: int64